PruebaWeb/web/WEB-INF/wsdl/localhost_8080/Testwa/queryws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.service.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.service.cl/" name="queryws">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.service.cl/" schemaLocation="http://localhost:8080/Testwa/queryws?xsd=1" />
</xsd:schema>
</types>
<message name="ingresardoctor">
<part name="parameters" element="tns:ingresardoctor" />
</message>
<message name="ingresardoctorResponse">
<part name="parameters" element="tns:ingresardoctorResponse" />
</message>
<message name="buscardoctor">
<part name="parameters" element="tns:buscardoctor" />
</message>
<message name="buscardoctorResponse">
<part name="parameters" element="tns:buscardoctorResponse" />
</message>
<message name="consultardoctor">
<part name="parameters" element="tns:consultardoctor" />
</message>
<message name="consultardoctorResponse">
<part name="parameters" element="tns:consultardoctorResponse" />
</message>
<portType name="queryws">
<operation name="ingresardoctor">
<input wsam:Action="http://webservice.service.cl/queryws/ingresardoctorRequest" message="tns:ingresardoctor" />
<output wsam:Action="http://webservice.service.cl/queryws/ingresardoctorResponse" message="tns:ingresardoctorResponse" />
</operation>
<operation name="buscardoctor">
<input wsam:Action="http://webservice.service.cl/queryws/buscardoctorRequest" message="tns:buscardoctor" />
<output wsam:Action="http://webservice.service.cl/queryws/buscardoctorResponse" message="tns:buscardoctorResponse" />
</operation>
<operation name="consultardoctor">
<input wsam:Action="http://webservice.service.cl/queryws/consultardoctorRequest" message="tns:consultardoctor" />
<output wsam:Action="http://webservice.service.cl/queryws/consultardoctorResponse" message="tns:consultardoctorResponse" />
</operation>
</portType>
<binding name="querywsPortBinding" type="tns:queryws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="ingresardoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscardoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="consultardoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="queryws">
<port name="querywsPort" binding="tns:querywsPortBinding">
<soap:address location="http://localhost:8080/Testwa/queryws" />
</port>
</service>
</definitions>